In [3]:
import pyodbc

cnxn = pyodbc.connect("DRIVER={SQL Server};SERVER=MSI;DATABASE=CustomerProductOrderDB;'UID=UserReader;PWD=%1205ROS; TrustServerCertificate=yes;")

cursor = cnxn.cursor()

In [4]:
import numpy as np
import pandas as pd

In [5]:
dataset= pd.read_sql_query('''SELECT TOP (8000) [transaction_id]
      ,[hour]
      ,[month]
      ,[store_id]
      ,[product_id]
      ,[product_category]
      ,[transaction_qty]
  FROM [CustomerProductOrderDB].[dbo].[Transactions]''',cnxn)

C:\Users\ander\AppData\Local\Temp\ipykernel_3832\1012235140.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataset= pd.read_sql_query('''SELECT TOP (8000) [transaction_id]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

NameError: name 'X' is not defined

In [ ]:
from datetime import datetime
quary= 'Exec treeretraining'
cursor.execute(quary)
cursor.commit()
data= pd.read_sql_query(f'''SELECT * from Decision_Tree_Classifier''',cnxn)
if datavalues['Train_score'].empty==False & datavalues['Test_score'].empty==False:
    print(datavalues.head())
else:
    for row in data.values:
        #inserting values into sql table
        quary=f'''Exec updatingscores @training={trainingscore},@test={testscore},@id={ID}'''
        cursor.execute(quary)
        cursor.commit()
        print('commited')