In [58]:
import pyodbc

cnxn = pyodbc.connect("DRIVER={SQL Server};SERVER=MSI;DATABASE=CustomerProductOrderDB;'UID=UserReader;PWD=%1205ROS; TrustServerCertificate=yes;")

cursor = cnxn.cursor()

In [59]:
import numpy as np
import pandas as pd

In [60]:
dataset=pd.read_sql_query("""select * from StoreCluster""",cnxn)
dataset

C:\Users\ander\AppData\Local\Temp\ipykernel_16348\1477455881.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataset=pd.read_sql_query("""select * from StoreCluster""",cnxn)

        transaction_id  store_id  product_category cluster_id
0                    1         5                 2       None
1                    2         5                 3       None
2                    3         5                 8       None
3                    4         5                 2       None
4                    5         5                 3       None
...                ...       ...               ...        ...
149111          149452         8                 3       None
149112          149453         8                 3       None
149113          149454         8                 3       None
149114          149455         8                 2       None
149115          149456         8                 1       None

[149116 rows x 4 columns]

In [61]:

df_original=dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   store_id          149116 non-null  int64
 2   product_category  149116 non-null  int64
 3   cluster_id        0 non-null       object
dtypes: int64(3), object(1)
memory usage: 4.6+ MB

In [63]:

from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn.tree import DecisionTreeClassifier,plot_tree
from sklearn.model_selection import train_test_split

[1 1 1 ... 3 3 3]

In [77]:
number=pd.read_sql_query('''Select count(cluster_id) from StoreCluster''',cnxn)
transactions=pd.read_sql_query('''Select count(*) from Transactions''',cnxn)
if int(number.iloc[0])!=0:
        print('ok')
    train_set,test_set=train_test_split(dataset,test_size=0.1,random_state=42)
    X_train=train_set[['store_id','product_category']]
    Y_train=train_set['cluster_id']
    X_test=test_set[['store_id','product_category']]
    Y_test=test_set['cluster_id']
    tree_clf=DecisionTreeClassifier(max_depth=2,random_state=42)
    clf=tree_clf.fit(X_train,Y_train)
    for i in range(number,transactions+1):
        pd.read_sql_query('''Insert into StoreCluster(transaction_id,store_id,product_category)
        select transaction_id,store_id,product_category from Transactions where transaction_id={i}''',cnxn)
    for i in range(number,transactions):
        pd.read_sql_query('''Insert into StoreCluster(cluster_id) values(clf.predict(X)) where transaction_id={i}''',cnxn)       
else:
    X=dataset[['store_id','product_category']]
    Y=dataset['cluster_id']
    kmeans=KMeans(n_clusters=6,init="k-means++",random_state=42)
    kmeans.fit(X)
    dataset['cluster_id']=kmeans.labels_
    for i in range(number,transactions+1):
        quary= 'Exec treeretraining'
        cursor.execute(quary)
        cursor.commit()
        store_id=dataset.iloc(0,0)
        category=dataset.iloc(1,0)
        cluster=dataset.lloc(2,0)
        pd.read_sql_query('''Insert into StoreCluster values({store_id},{category},{cluster}) ''',cnxn)
    print('no')

C:\Users\ander\AppData\Local\Temp\ipykernel_16348\3049694661.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  number=pd.read_sql_query('''Select count(cluster_id) from StoreCluster''',cnxn)
C:\Users\ander\AppData\Local\Temp\ipykernel_16348\3049694661.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  transactions=pd.read_sql_query('''Select count(*) from Transactions''',cnxn)
C:\Users\ander\AppData\Local\Temp\ipykernel_16348\3049694661.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  if int(number.iloc[0])!=0:

ok

TypeError: read_sql_query() missing 1 required positional argument: 'con'